<header class="container-fluid">
	<div class="col-md-4">
		<h1><%= link_to 'QuickShop', qsadmin_dashboards_path %></h1>
	</div>

	<div class="col-md-8">
		<h3><%= session[:user_name] %></h3>
	</div>
</header>