.recent-posts {
	article {
		> img {
			width: 100%;
			height: 170px;
		}
	}
}

.posts-index {
	.post-detail {
		img {
			width: 100%;
			height: 150px;
		}

		h3 {
			font-size: 20px;
			line-height: 30px;
			min-height: 60px;
			a {
				color: #333;
			}
		}
	}
}

.posts-sidebar {
	ul {
		padding: 0;
		li {
			margin-bottom: 10px;
			overflow: hidden;
			border-bottom: 1px dotted #ccc;
			padding-top: 5px;
			.sidebar-img {
				width: 30%;
				float: left;
				img {
					width: 100%;
					height: 80px;
				}
			}

			.sidebar-detail {
				width: 65%;
				float: right;

				h3 {
					font-size: 16px;
					line-height: 20px;
					min-height: 40px;
					margin: 0;
					a {
						color: #333;
					}
				}
			}
		}
	}
}

.head {
	position: relative;
	&:before, &:after {
		position: absolute;
		content: '';
		width: 40px;
		height: 2px;
		top: 110%;
		left: 50%;
	}

	&:before {
		background: #2ea2cc;
		margin-left: -40px;
	}

	&:after {
		background: #666;
	}
}

.recent-posts {
	padding: 20px 0;
	.head {
		text-align: center;
		margin-bottom: 30px;
	}
	.recent-posts-detail {
		img {
			width: 100%;
			height: 160px;
		}

		h3 {
			font-size: 18px;
			a {
				color: #333;

				&:hover {
					color: #168f95;
					text-decoration: none;
				}
			}
		}
	}
}

.comments {
	textarea {
		width: 70%;
		height: 200px;
	}
}