.testimonial {
	background: #ccc;
	padding: 30px 0;
	clear: both;
	.head {
		text-align: center;
	}
	.owl-carousel {
		padding: 20px;
		.item {
			text-align: center;
			img {
				width: 150px;
				height: 150px;
				border-radius: 50%;
				border: 5px solid #fff;
			}

			.item-detail {
				padding: 20px 30px;
			}
		}
	}
}
