<footer class="container-fluid footer">
	<div class="footer-top">
		<div class="col-md-3" >
			<h3>DOWNLOAD</h3>
			<ul>
				<li><a href="#">Installing Ruby on rails</a></li>
				<li><a href="#">Documentation</a></li>
				<li><a href="#">API</a></li>
				<li><a href="#">Tutorial</a></li>
				<li><a href="#">Sample</a></li>
			</ul>
		</div>
		<div class="col-md-3" >
			<h3>COMMUNITY</h3>
			<ul>
				<li><a href="#">Forum</a></li>
				<li><a href="#">GitHub</a></li>
				<li><a href="#">Issue Tracker</a></li>
				<li><a href="#">Stack Overflow</a></li>
				<li><a href="#">Testimonials</a></li>
			</ul>
		</div>
		<div class="col-md-3" >
			<h3>ABOUT</h3>
			<ul>
				<li><a href="#">Blog</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Team</a></li>
				<li><a href="#">Roadmap</a></li>
				<li><a href="#">Donate</a></li>
			</ul>
		</div>
		<div class="col-md-3">
			<h3>QuickShop</h3>
			<p>Found a typo or an error? Want to improve this document? The documentation sources are available on Github Need support or have questions? Check our Forum Ruby on rails Framework is released under the new BSD license. Except where otherwise noted, content on this site is licensed under the Creative Commons Attribution 3.0 License.</p>
		</div>
	</div>
	<div class="copy-right col-md-12">
		<p>QuickShop © <%= Time.now.year %> by hklong </p>
	</div>
</footer>