<div class="slideshow">
	<div id="owl-demo1" class="owl-carousel">
        <div class="item">
          <%= image_tag("s1.jpg", alt: "Example Image") %>
          <div class="item-detail">
          		<h4>test1</h4>
          		<h5>testetse</h5>
          		<p>test content</p>
          </div>
        </div>

        <div class="item">
          <%= image_tag("s2.jpg", alt: "Example Image") %>
          <div class="item-detail">
          		<h4>test1</h4>
          		<h5>testetse</h5>
          		<p>test content</p>
          </div>
        </div>

        <div class="item">
          <%= image_tag("s3.jpg", alt: "Example Image") %>
          <div class="item-detail">
          		<h4>test1</h4>
          		<h5>testetse</h5>
          		<p>test content</p>
          </div>
        </div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {

  $("#owl-demo1").owlCarousel({

      navigation : false, // Show next and prev buttons
      slideSpeed : 300,
      paginationSpeed : 400,
      autoPlay : 5000,
      stopOnHover : true,
      //singleItem:true,

      // "singleItem:true" is a shortcut for:
      items : 1
      // itemsDesktop : false,
      // itemsDesktopSmall : false,
      // itemsTablet: false,
      // itemsMobile : false

  });
});
</script>